* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 1000;
}
.header a {
  color: #000;
  text-decoration: none;
}
.content {
  width: 100%;
  height: 100%;
  background-color: #d7e8df;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: center;
  /* margin-top: 30px; */
}
.content h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}
.content p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}
.code-inputs .code-input {
  padding: 20px;
  width: 60px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
}
.code-inputs {
  margin-bottom: 30px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 248px;
}
button {
  background-color: #ffd600;
  color: black;
  border: 1px solid #3a3535;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Arial", sans-serif;
}
