* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #1a1a1a;
  color: white;
}
.timer {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -2px;
}
@media (max-width: 768px) {
  .timer {
    font-size: 5rem;
  }
}

